@using Cinotam.AbpModuleZero.Web.App_Helpers
	<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

	<!-- User info -->
	@{ Html.RenderAction("UserInfo","Layout"); }
	<!-- end user info -->
	<!-- NAVIGATION : This navigation is also responsive

	To make this navigation dynamic please make sure to link the node
	(the reference to the nav > ul) after page load. Or the navigation
	will not initialize.
	-->
	<nav>
		<!-- NOTE: Notice the gaps after each icon usage <i></i>..
		Please note that these links work a bit different than
		traditional href="" links. See documentation for details.
		-->

		<ul>
			<li class="@Html.RouteIf("index", "active")">
				<a href="#" title="Administración"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Administración</span></a>
				<ul>
					<li class="@Html.RouteIf("Index", "active")">
						<a href="@Url.Action("Index", "Dashboard")" title="Dashboard"><span class="menu-item-parent">Dashboard</span></a>
					</li>
					<li class="@Html.RouteIf("UsersAndRolesList", "active")">
						<a href="@Url.Action("UsersAndRolesList", "Users")" title="Usuarios"><span class="menu-item-parent">Usuarios y Roles</span></a>
					</li>
					<li class="@Html.RouteIf("LanguagesList", "active")">
						<a href="@Url.Action("LanguagesList", "Languages")" title="Lenguajes"><span class="menu-item-parent">Lenguajes</span></a>
					</li>
					<li class="@Html.RouteIf("Configurations", "active")">
						<a href="@Url.Action("Configurations", "Configuration")" title="Configuración"><span class="menu-item-parent">Configuración</span></a>
					</li>
					<li class="@Html.RouteIf("AuditLogsList", "active")">
						<a href="@Url.Action("AuditLogsList", "AuditLogs")" title="Registros"><span class="menu-item-parent">Registros</span></a>
					</li>
					
				</ul>

			</li>
			<li class="@Html.RouteIf("index", "active")">
				<a href="#" title="Administración"><i class="fa fa-lg fa-fw fa-beer"></i> <span class="menu-item-parent">Cms</span></a>
				<ul>
					<li class="@Html.RouteIf("MyPages", "active")">
						<a href="@Url.Action("MyPages", "Cms")" title="Paginas"><span class="menu-item-parent">Paginas</span></a>
					</li>
					<li class="@Html.RouteIf("MyTemplates", "active")">
						<a href="@Url.Action("MyTemplales", "Cms")" title="Paginas"><span class="menu-item-parent">Paginas base</span></a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	<span class="minifyme" data-action="minifyMenu">
		<i class="fa fa-arrow-circle-left hit"></i>
	</span>

</aside>
<!-- END NAVIGATION -->