@using Cinotam.AbpModuleZero
<!-- collapse menu button -->
<div id="hide-menu" class="btn-header pull-right">
    <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
</div>
<!-- end collapse menu -->
<!-- #MOBILE -->
<!-- Top menu profile link : this shows only when top menu is active -->
<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
    <li class="">
        @{ Html.RenderAction("UserInfo", "Layout",new {viewName = "_alternativeUserInfo" }); }
        
        <ul class="dropdown-menu pull-right">
            <li>
                <a href="@Url.Action("MyProfile", "Users")" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-user"></i> <span>My Profile </span> </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="@Url.Action("Settings", "Users")" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-gear"></i> <span>Options </span> </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="@Url.Action("Logout", "account", new {Area = ""})" class="padding-10 padding-top-0 padding-bottom-0" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong>Logout</strong></a>
            </li>
        </ul>
    </li>
</ul>

<!-- logout button -->
<div id="logout" class="btn-header transparent pull-right">
    <span> <a href="@Url.Action("Logout", "account",new {Area=""})" title="@L("Logout")" data-action="userLogout" ><i class="fa fa-sign-out"></i></a> </span>
</div>
<!-- end logout button -->
<!-- fullscreen button -->
<div id="fullscreen" class="btn-header transparent pull-right">
    <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="@Ls(AbpModuleZeroConsts.LocalizationSmartAdminSourceName,"FullScreen")"><i class="fa fa-arrows-alt"></i></a> </span>
</div>
<!-- end fullscreen button -->
<!-- multiple lang dropdown : find all flags in the flags page -->
<ul class="header-dropdown-list hidden-xs">

    @Html.Action("LanguageSelection", "Layout")

</ul>
<!-- end multiple lang -->