@using Abp.Web.Mvc.Extensions
@model Cinotam.Cms.App.Menus.Dto.MenuInput
@{
    Layout = null;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <form id="createMenuForm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModal-label">@L("CreateEditMenu")</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.HiddenFor(a => a.Id)
                            <label class="control-label" for="Title">@L("Name")</label>
                            @Html.TextBoxFor(a => a.Name, new { @class = "form-control", required = "required" })

                            <br />
                            <br />
                            @foreach (var lang in Model.AvailableLangs)
                            {

                                <br />
                                <label class="control-label"><i class="@lang.Icon"></i> @lang.Lang</label>
                                <input data-content-id="@lang.Id" data-id="@Model.Id" data-lang="@lang.Lang" value="@lang.DisplayText" type="text" class="form-control js-lang-input" />
                            }
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(a => a.IsActive) @L("IsActive")
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@L("Close")</button>
                <button type="submit" class="btn btn-primary">@L("Save")</button>
            </div>
        </form>

    </div>
</div>

@Html.IncludeScript("~/Areas/SysAdmin/Views/Menu/CreateEditMenu.js")
