@{
    Layout = null;
}
@using Abp.Web.Mvc.Extensions
@model Cinotam.Cms.App.Menus.Dto.CategorySetModel
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <form id="setCategories">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModal-label">@L("SetPageCategoriesForMenu")</h4>
            </div>
            <div class="modal-body">

                @Html.HiddenFor(a=>a.MenuId)
                <div class="form-group">
                    @foreach (var item in Model.AvailableCategories)
                    {
                        var checkedStatus = item.Checked ? "checked" : "";
                        if (item.Enabled)
                        {
                            <div class="checkbox">
                                <label>
                                    <input @checkedStatus data-category="@item.CategoryId" class="js-set-category" type="checkbox" /> @item.CategoryDisplayName
                                </label>
                            </div>
                        }
                        else
                        {
                            if (item.IdMenuIsIn == Model.MenuId)
                            {
                                <div class="checkbox">
                                    <label>
                                        <input @checkedStatus data-category="@item.CategoryId" class="js-set-category" type="checkbox"/> @item.CategoryDisplayName
                                    </label>
                                </div>
                            }
                            else
                            {
                                <div class="checkbox">
                                    <label>
                                        <input disabled="disabled" @checkedStatus type="checkbox" /> @item.CategoryDisplayName  [@L("UsedIn") @item.NameOfMenuIsIn]
                                    </label>
                                </div>
                            }

                        }

                    }
                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                <button type="submit" class="btn btn-primary">@L("Save")</button>
            </div>
        </form>

    </div>
</div>
@Html.IncludeScript("~/Areas/SysAdmin/Views/Menu/SetCategories.js")