@using System.Threading
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@model Cinotam.Cms.App.Templates.Dto.TemplateInput
<style>
    #editor {
        height: 500px;
    }
</style>
<form id="editHtml">

    <div class="container-fluid">
        @Html.HiddenFor(a => a.TemplateName)
        @Html.HiddenFor(a => a.IsPartial)
        <div class="row">
            <div class="col-md-12">

                <pre id="editor">@Model.Content</pre>
            </div>
            @*<div class="col-md-6">

                    <div id="return"></div>
                </div>*@
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary  pull-right" type="submit">@L("Save")</button>
                <button class="btn btn-info " type="button">@L("Preview")</button>
                <button class="btn btn-info " type="button">@L("ShowDocumentation")</button>
            </div>
        </div>
    </div>
</form>

@section pagespecific{
    <script src="https://ajaxorg.github.io/ace-builds/src/ace.js"></script>
    @Html.IncludeScript("~/Areas/SysAdmin/Views/Templates/EditHtml.js")
    
}
