@using System.Threading
@using Abp.Timing
@model Cinotam.Cms.App.Templates.Dto.TemplateInput
<style>
    #editor {
        height: 500px;
    }
</style>
<form id="editHtml">

    <div class="container-fluid">
        @Html.HiddenFor(a => a.TemplateName)
        @Html.HiddenFor(a => a.IsPartial)
        <div class="row">
            <div class="col-md-12">

                <pre id="editor">@Model.Content</pre>
            </div>
            @*<div class="col-md-6">

                    <div id="return"></div>
                </div>*@
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary  pull-right" type="submit">@L("Save")</button>
                <button class="btn btn-info " type="button">@L("Preview")</button>
                <button class="btn btn-info " type="button">@L("ShowDocumentation")</button>
            </div>
        </div>
    </div>
</form>

@section pagespecific{
    <script src="https://ajaxorg.github.io/ace-builds/src/ace.js"></script>

<script>
    (function () {
        $ (document)
            .ready (function () {
                var editor = ace.edit ("editor");
                editor.setTheme ("ace/theme/twilight");
                editor.session.setMode ("ace/mode/html");
                $ ("#editHtml")
                    .on ("submit",
                        function (e) {
                            e.preventDefault();
                            var data = $(this).serializeFormToObject();
                            data.Content = editor.getValue();
                            abp.services.cms.templateService.addTemplate (data).done(function () {
                                abp.message.success (LSys("Saved"),LSys("ContentSaved"));
                            });
                        });
                //function showHTML() {
                //    $('#return').html(editor.getValue());
                //}

                //// or use data: url to handle things like doctype
                //function showHTMLInIFrame() {
                //    $('#return')
                //        .html("<iframe onload='resizeIframe(this)' style='width:100%;height:auto;' src=" +
                //            "data:text/html," +
                //            encodeURIComponent(editor.getValue()) +
                //            "></iframe>");
                //}

                //editor.on("input", showHTMLInIFrame);
                //showHTMLInIFrame();
            });
    }) ();

</script>
}
