@using Abp.Collections.Extensions
@model Cinotam.Cms.App.Menus.Dto.MenuOutput

@{
    Layout = null;
}


<link href="~/Content/Custom/DropDownMenuLarge.css" rel="stylesheet" />
<div class="collapse navbar-collapse js-navbar-collapse">
    <ul class="nav navbar-nav">

        @foreach (var menu in Model.MenuElements)
        {
            <li id="js-menu-@menu.Id" class="dropdown dropdown-large">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@menu.DisplayName <b class="caret"></b></a>
                @if (menu.SectionElements.Count < 3)
                {
                    <input type="hidden" data-id="@menu.Id" class="js-use-small-menu" value="true" />
                    <ul class="dropdown-menu">
                        
                        @foreach (var sections in menu.SectionElements)
                        {
                            if (sections.SectionItems.Any())
                            {

                                <h6 class="dropdown-header">@sections.DisplayName</h6>

                                foreach (var item in sections.SectionItems)
                                {
                                    if(item == null) { continue;}
                                        var url = item.Url;
                                        if (item.HasPage)
                                        {
                                            url = Url.Action("Index", "Pages", new { slug = item.Url });
                                        }
                                    <li><a href="@url">@item.DisplayName</a></li>
                                }
                            }


                        }
                    </ul>
                }
                else
                {
                    <input type="hidden" id="useSmallMenu" value="false" />
                    <ul class="dropdown-menu dropdown-menu-large row">
                        @foreach (var sections in menu.SectionElements)
                        {
                            if (sections.SectionItems.Any())
                            {
                                <li class="col-sm-6">
                                    <ul>
                                        <li class="dropdown-header">@sections.DisplayName</li>
                                        @foreach (var item in sections.SectionItems)
                                        {
                                            var url = item.Url;
                                            if (item.HasPage)
                                            {
                                                url = Url.Action("Index", "Pages", new { slug = item.Url });
                                            }
                                            <li><a href="@url">@item.DisplayName</a></li>
                                        }
                                    </ul>
                                </li>
                            }

                        }
                    </ul>
                }

            </li>
        }


        @Html.Action("TopMenu", "Layout", new { activeMenu = ViewBag.ActiveMenu })

    </ul>

</div><!-- /.nav-collapse -->
