@using Abp.Web.Mvc.Extensions
@model Cinotam.ModuleZero.AppModule.Users.Dto.ChangePasswordInput
@{
    Layout = null;
}

<div class="modal-dialog" id="leaderModal" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h4 class="modal-title"><i class="fa fa-3x fa-lock"></i> </h4>
        </div>
        <div class="modal-body no-padding">

            <form method="POST" id="changePasswordForm" class="smart-form">
                @Html.HiddenFor(a=>a.UserId)
                <header>
                    @L("ChangePasswordForm")
                </header>
                <fieldset>
                    <section>
                        <div class="row">
                            <label class="label col col-2">@L("CurrentPassword")</label>
                            <div class="col col-10">
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    @Html.TextBoxFor(a => a.OldPassword, new {required = "required", type = "password"})
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-2">@L("Password")</label>
                            <div class="col col-10">
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    @Html.TextBoxFor(a => a.NewPassword, new {required = "required", type = "password", @class= "js-password" })
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-2">@L("ConfirmPassword")</label>
                            <div class="col col-10">
                                <label class="input">
                                    <i class="icon-append fa fa-lock"></i>
                                    @Html.TextBoxFor(a => a.NewPassword, new {required = "required", type = "password", @class="js-confirm-password"})
                                </label>
                            </div>
                        </div>
                    </section>
                </fieldset>
                <footer>
                    <button type="submit" class="btn btn-primary">
                        @L("Save")
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @L("Cancel")
                    </button>
                </footer>

            </form>
        </div>
    </div>
</div>
@Html.IncludeScript("~/Areas/SysAdmin/Views/Users/ChangePassword.js")