@using Abp.Web.Mvc.Extensions
@model Cinotam.ModuleZero.AppModule.Users.Dto.CreateUserInput

@{
    Layout = null;
}
<div class="modal-dialog" id="leaderModal" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h4 class="modal-title"><i class="fa fa-3x fa-user"></i> </h4>
        </div>
        <div class="modal-body no-padding">

            <form action="@Url.Action("CreateEditUser")" method="POST" id="createEditForm" class="smart-form">
                <header>
                    @L("RegisterUserForm")
                </header>
                @Html.HiddenFor(a => a.Id)
                <fieldset>
                    <section>
                        <div class="row">
                            <label class="label col col-2">@L("UserName")</label>
                            <div class="col col-10">
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    @Html.TextBoxFor(a => a.UserName, new { required = "required" })
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-2">@L("EmailAddress")</label>
                            <div class="col col-10">
                                <label class="input">
                                    <i class="icon-append fa fa-envelope-o"></i>
                                    @Html.TextBoxFor(a => a.EmailAddress, new { required = "required", type = "email" })
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-2">@L("Name")</label>
                            <div class="col col-10">
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    @Html.TextBoxFor(a => a.Name, new { required = "required" })
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-2">@L("Surname")</label>
                            <div class="col col-10">
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    @Html.TextBoxFor(a => a.Surname, new { required = "required" })
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-2">@L("PhoneNumber")</label>
                            <div class="col col-10">
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    @Html.TextBoxFor(a => a.PhoneNumber, new { required = "required" })
                                </label>
                            </div>
                        </div>
                    </section>
                    @if (Model.Id == 0)
                    {
                        <!--//Rev-02.09.2016-->
                        <section>
                            <div class="row">
                                <label class="label col col-2">@L("Password")</label>
                                <div class="col col-10">
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        @Html.TextBoxFor(a => a.Password, new { type = "password", autocomplete = "off" })
                                    </label>
                                </div>
                            </div>
                        </section>
                    }
                    @if (Model.IsLockoutEnabled)
                    {
                        <div class="alert alert-warning">
                            <p>@L("UserLocked")</p>
                            <section>
                                <label class="checkbox">
                                    @Html.CheckBoxFor(a => a.IsLockoutEnabled)
                                    <i></i>@L("LockOut")
                                </label>
                            </section>
                        </div>
                    }
                    <section>
                        <label class="checkbox">
                            @Html.CheckBoxFor(a => a.IsTwoFactorEnabled)
                            <i></i>@L("EnableTwoFactorAuth")
                        </label>
                    </section>
                    <section>
                        <label class="checkbox">
                            @Html.CheckBoxFor(a => a.IsActive)
                            <i></i>@L("IsActive")
                        </label>
                    </section>
                    <section>
                        <label class="checkbox">
                            @Html.CheckBoxFor(a => a.SendNotificationMail)
                            <i></i>@L("SendNotificationMail")
                        </label>
                    </section>
                </fieldset>
                <footer>
                    <button type="submit" class="btn btn-primary">
                        @L("Save")
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @L("Cancel")
                    </button>
                </footer>

            </form>
        </div>
    </div>
</div>
@Html.IncludeScript("~/Areas/SysAdmin/Views/Users/CreateEditUser.js");
