@using System.Threading
@using System.Web.Optimization
@using Cinotam.AbpModuleZero.Authorization
@model Cinotam.Cms.App.Pages.Dto.PageViewOutput
@{
    ViewBag.Title = Model.Title;
    if (!Model.IsPartial)
    {
        Layout = null;
    }
}
<link href="~/css/pageViewStyle.css" rel="stylesheet" />

@if (Model.IsPartial)
{
    string container = "container-fluid";
    if (Model.BreadCrumInContainer)
    {
        container = "container";
    }
    <div class="@container">

        <div class="row">
            <div class="col-xs-12">
                @if (IsGranted(PermissionNames.Pages))
                {
                    <div class="alert alert-info">
                        <p>You can edit this page</p>
                        <a class="btn btn-primary btn-sm" href="@Url.Action("PageEditor", new {id = Model.Id, Lang = Model.Lang})">Click to edit</a>
                    </div>
                }
                @if (Model.BreadCrums.Any() && Model.ShowBreadCrum)
                {

                    <ol class="breadcrumb">

                        @{
                            var last = Model.BreadCrums.Last();
                        }
                        @foreach (var bread in Model.BreadCrums)
                    {
                        if (bread.Equals(last))
                        {

                                <li>@bread.DisplayName</li>
                            }
                            else
                            {

                                <li><a href="@Url.Action("Index", new {slug = bread.Url})">@bread.DisplayName</a></li>
                            }
                        }
                    </ol>
                            }
            </div>
        </div>
    </div>
                        }

@if (Model.IsPartial)
{

    @Html.Raw(Model.HtmlContent)
}
else
{
    <!DOCTYPE html>
    <html>
    <head>
        <title>@Model.Title</title>
        @foreach (var resourceDto in Model.CssResource)
        {
        <link rel="stylesheet" href="@resourceDto.Url" />
        }
    </head>
    <body>
        @Html.Raw(Model.HtmlContent)
        <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
        <script src="~/Scripts/jquery-2.2.0.min.js"></script>
        @Scripts.Render("~/Bundles/vendor/js/bottom")
        <script src="~/Scripts/bootstrap.min.js"></script>
        @Scripts.Render("~/Bundles/js")

        <script>
            //Localizing momentjs
            moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
        </script>
        @foreach (var resourceDto in Model.JsResource)
        {
        <script src="@resourceDto.Url"></script>
        }
    </body>
</html>
}
