@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@model Cinotam.Cms.App.Pages.Dto.PageViewOutput
@{
    ViewBag.Title = Model.Title;
    if (!Model.IsPartial)
    {
        Layout = null;
    }
}

@if (Model.IsPartial)
{
    @*<link rel="stylesheet" type="text/css" href="../../Scripts/contentTools/sandbox/sandbox.css">*@
    <link href="~/Scripts/contentTools/sandbox/build/content-tools.min.css" rel="stylesheet" />
    <link href="~/css/pageViewStyle.css" rel="stylesheet" />
    @Html.HiddenFor(a => a.Lang)
    @Html.HiddenFor(a => a.Id)
    @Html.HiddenFor(a => a.TemplateName)

    foreach (var resourceDto in Model.CssResource)
    {
        <link rel="stylesheet" href="@resourceDto.Url" />
    }


    <div id="content">
        @Html.Raw(Model.HtmlContent)
    </div>

    @section Scripts{
        <script src="~/Scripts/Html2Canvas/html2canvas.js"></script>
        <script src="~/Scripts/contentTools/sandbox/build/content-tools.min.js"></script>
        <script type="text/javascript" src="../../Scripts/contentTools/sandbox/sandbox.js"></script>
    }
}
else
{
    <!DOCTYPE html>
    <html>
    <head>
        <title>@Model.Title</title>
        <link href="~/Scripts/contentTools/sandbox/build/content-tools.min.css" rel="stylesheet" />
        <link href="~/css/pageViewStyle.css" rel="stylesheet" />
       

        @foreach (var resourceDto in Model.CssResource)
        {
            <link rel="stylesheet" href="@resourceDto.Url" />
        }
    </head>
    <body>
        @Html.HiddenFor(a => a.Lang)
        @Html.HiddenFor(a => a.Id)
        @Html.HiddenFor(a => a.TemplateName)
    <div id="content">
        @Html.Raw(Model.HtmlContent)
    </div>
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    @Scripts.Render("~/Bundles/vendor/js/bottom")
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/Bundles/js")

    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>
        <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
        <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
        <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>
    <script src="~/Scripts/Html2Canvas/html2canvas.js"></script>
    <script src="~/Scripts/contentTools/sandbox/build/content-tools.min.js"></script>
    <script type="text/javascript" src="../../Scripts/contentTools/sandbox/sandbox.js"></script>
    @foreach (var resourceDto in Model.JsResource)
    {
        <script src="@resourceDto.Url"></script>
    }
    </body>
</html>
}