@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@model Cinotam.Cms.App.Pages.Dto.PageViewOutput
@{
    ViewBag.Title = Model.Title;
    if (!Model.IsPartial)
    {
        Layout = null;
    }
}
@*<link rel="stylesheet" type="text/css" href="../../Scripts/contentTools/sandbox/sandbox.css">*@
<link href="~/Scripts/contentTools/sandbox/build/content-tools.min.css" rel="stylesheet" />
<link href="~/css/pageViewStyle.css" rel="stylesheet" />
@Html.HiddenFor(a => a.Lang)
@Html.HiddenFor(a => a.Id)
@Html.HiddenFor(a => a.TemplateName)
@Html.HiddenFor(a => a.ContentId)

@if (!Model.IsPartial)
{
    <div>
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-info">
                        <p>
                            @L("ContentAdaptedInfo")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <p>
                        @L("ContentAdaptedInfo")
                    </p>
                </div>
            </div>
        </div>
    </div>
}


<div id="content">

    @Html.Raw(Model.HtmlContent)
</div>

@if (!Model.IsPartial)
{
    foreach (var resourceDto in Model.CssResource)
    {
        <link rel="stylesheet" href="@resourceDto.Url" />
    }
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    @Scripts.Render("~/Bundles/vendor/js/bottom")
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/Bundles/js")

    <script>
        //Localizing momentjs
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name');
    </script>
        <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
        <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>
    <script src="~/Scripts/Html2Canvas/html2canvas.js"></script>
    <script src="~/Scripts/contentTools/sandbox/build/content-tools.min.js"></script>
    <script type="text/javascript" src="../../Scripts/contentTools/sandbox/sandbox.js"></script>
    <script>

        (function () {
            //Get the chunks and put them in the dom

            $(document)
                .ready(function () {
                    var pageContent = {
                        Id: $("#ContentId").val()
                    }
                    abp.ui.setBusy($("#content"), abp.services.cms.pagesService.getChunks(pageContent)
                        .done(function (response) {
                            if (response.length <= 0) {
                                abp.message.warn("NoContent");
                            }
                            response.forEach(function (element) {
                                var $jqueryElement = $("[data-name='" + element.key + "']");
                                $jqueryElement.html(element.value);
                            });
                        }));
                });
        })();
    </script>

    foreach (var resourceDto in Model.JsResource)
    {
        <script src="@resourceDto.Url"></script>
    }
}
else
{
@section Scripts{
        <script src="~/Scripts/Html2Canvas/html2canvas.js"></script>
        <script src="~/Scripts/contentTools/sandbox/build/content-tools.min.js"></script>
        <script type="text/javascript" src="../../Scripts/contentTools/sandbox/sandbox.js"></script>
        <script>

            (function () {
                //Get the chunks and put them in the dom

                $(document)
                    .ready(function () {
                        var pageContent = {
                            Id: $("#ContentId").val()
                        }
                        abp.ui.setBusy($("#content"), abp.services.cms.pagesService.getChunks(pageContent)
                            .done(function (response) {
                                if (response.length <= 0) {
                                    abp.message.warn("NoContent");
                                }
                                response.forEach(function (element) {
                                    var $jqueryElement = $("[data-name='" + element.key + "']");
                                    $jqueryElement.html(element.value);
                                });
                            }));
                    });
            })();
        </script>
    }
}

