
@{
    ViewBag.Title = "ResetPasswordForm";
}

@model Cinotam.AbpModuleZero.Web.Models.Account.ResetPasswordInput
<div class="container">
    <div id="ConfirmArea" class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <form id="changePasswordForm" class="form-horizontal" method="POST">
                    <fieldset>
                        @Html.HiddenFor(a => a.UserId)
                        @Html.HiddenFor(a=>a.Token)
                        <legend>@L("SetNewPassword")</legend>
                        
                        <div class="form-group">
                            <div class="col-lg-12">
                                <label class="control-label">@L("NewPassword")</label>
                                @Html.TextBoxFor(a => a.Password,new {@class="form-control", required = "required", type="password" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">

                                <label class="control-label">@L("ConfirmPassword")</label>
                                @Html.TextBoxFor(a => a.ConfirmPassword, new {@class = "form-control",required="required", type = "password" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button id="resetBtn" type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> @L("Confirm")</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        (function () {

            var LSys = function (string) {
                return abp.localization.localize(string, "AbpModuleZero");
            };



            var $form = $("#changePasswordForm");

            $form.on("submit",
                function(e) {
                    var $self = $(this);

                    e.preventDefault();
                    var data = $self.serializeFormToObject();
                    


                    if (data.ConfirmPassword != data.Password) {
                        abp.message.warn(LSys("PasswordsNotMatch"));
                    } else {
                        abp.ui.setBusy(
                    $form,
                        abp.ajax({
                            url: abp.appPath + 'Account/ResetPasswordForm',
                            type: 'POST',
                            data: JSON.stringify(data)
                        })
                    );
                    }

                    
                });

        })();
    </script>
}  