@using Cinotam.AbpModuleZero
@model Cinotam.ModuleZero.AppModule.Settings.Dto.SettingsOutput
<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-gear"></i>
                @L("Configuration")
                <span>
                    >
                    @L("ConfigurationManagement")
                </span>
            </h1>
        </div>
    </div>
    <section id="widget-grid">
        <div class="row">

            <article class="col-xs-12 sortable-grid ui-sortable">

                <div class="jarviswidget jarviswidget-sortable" id="wid-id-roleTable" style="" role="widget">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header role="heading">

                        <ul id="widget-tab-1" class="nav nav-tabs">

                            @*<li class="active">

                                    <a data-toggle="tab" href="#hr1"> <i class="fa fa-lg fa-cubes"></i> <span class="hidden-mobile hidden-tablet"> Diseño </span> </a>

                                </li>*@

                            <li class="active">
                                <a data-toggle="tab" href="#hr2"> <i class="fa fa-lg fa-cogs"></i> <span class="hidden-mobile hidden-tablet"> @L("System") </span></a>
                            </li>

                        </ul>
                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>

                    </header>

                    <!-- widget div-->
                    <div role="content">

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                            <input class="form-control" type="text">
                            <span class="note"><i class="fa fa-check text-success"></i> @Ls(AbpModuleZeroConsts.LocalizationSmartAdminSourceName, "ChangeTitle")</span>

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <div class="tab-content padding-10">
                                <div class="tab-pane fade  in active" id="hr2">
                                    <form id="settings" class="smart-form ">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col col-12">
                                                    @foreach (var setting in Model.Settings)
                                                    {
                                                        <section class="col col-6">
                                                            <label class="label">@setting.DisplayName</label>
                                                            <label class="input">
                                                                <input type="text" data-scope="@setting.SettingScopes" data-key="@setting.Key" value="@setting.Value" />
                                                            </label>
                                                            <div class="note">
                                                                @setting.Description
                                                                <p>
                                                                    Default: @setting.DefaultValue
                                                                </p>
                                                            </div>
                                                        </section>
                                                    }
                                                </div>
                                            </div>

                                            <footer>
                                                <button type="submit" class="btn btn-primary">
                                                    @L("Save")
                                                </button>
                                            </footer>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
            </article>
        </div>
    </section>

</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
    <script src="@Url.Content("~/Areas/SysAdmin/Scripts/Configurations/Configurations.js")"></script>
}