<div ng-controller="app.views.dashboard.index as vm">
    <style>
        .chart-small {
            max-height: 400px;
            width: 100%;
        }
    </style>

    <div class="row">
        <div class="col-xs-12">
            <h2>@L("Dashboard")</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">@L("Logs") </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-8">

                            <canvas id="line" chart-colors="vm.chartConfigs.color" chart-click="vm.onClick" chart-options="vm.chartOptions" class="chart chart-line chart-small" chart-data="vm.chartDataFormatedDtos"
                                    chart-labels="vm.labels"></canvas>
                        </div>
                        <div class="col-md-4 text-center">
                            <h2>@L("Requests")</h2>
                            <p>{{vm.chartData.totalRequestsReceived}}</p>
                            <h2>@L("AverageExecutionTime")</h2>
                            <p>
                                {{vm.chartData.avgExecutionTime}}
                            </p>

                            <a ng-click="vm.changeLogType(1)" class="btn btn-warning btn-sm">@L("DisplayErrorOperations")</a> <a ng-click="vm.changeLogType(2)" class="btn btn-primary btn-sm">@L("DisplaySuccessOperations")</a>
                            <br/>
                            <br />
                            
                            @*<a ng-click="vm.toggleLiveUpdate()" class="btn btn-default btn-xs">
                                {{vm.liveUpdateText}}
                            </a>*@
                            <br />
                            <br />
                            <select ng-change="vm.update()" class="form-control" ng-model="vm.selectVal">
                                <option value="30">30</option>
                                <option selected="selected" value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="400">400</option>
                                <option value="800">800</option>
                            </select>
                            <br/>

                            <a class="lead" href="#AuditLogs">@L("SeeAll")</a>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
