@using Abp.Web.Mvc.Extensions
@model Cinotam.Cms.App.Pages.Dto.PageTitleInput
@{
    Layout = null;
}
<div class="modal-dialog" role="document">
    <form id="setPageName">
        @Html.HiddenFor(a=>a.Lang)
        @Html.HiddenFor(a=>a.PageId)
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModal-label">@L("ChooseName")</h4>
            </div>
            <div class="modal-body">
                <div class="form">
                    <div class="form-group">
                        <label class="control-label">
                            @L("SetTitle")
                        </label>
                        @Html.TextBoxFor(a=>a.Title,new {@class="form-control",placeholder="Home"})
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@L("Close")</button>
                <button type="submit" class="btn btn-primary">@L("Save")</button>
            </div>
        </div>
    </form>
</div>
@Html.IncludeScript("~/Areas/SysAdmin/Views/Cms/ChooseTitle.js")