@model Cinotam.SimplePost.Application.Posts.Dto.PostsOutput
@{
    ViewBag.Title = "GetPost";
    Layout = null;
}

@foreach (var post in Model.PostDtos)
{
    <h2>Post # @post.Id</h2>
    <h3>@post.Title</h3>
    <p class="lead">@post.ContentString</p>
    <h4>@post.Lang</h4>

    <a class="btn btn-default" href="@Url.Action("AddContent",new {id= post.Id})">Add Content</a> <a class="btn btn-primary" href="@Url.Action("AddAttachment",new {id= post.Id})">Add Attachment</a>
}
