@model Cinotam.ModuleZero.AppModule.AuditLogs.Dto.AuditLogDto

@{
    Layout = null;
}

<div class="modal-dialog modal-lg" id="leaderModal" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                ×
            </button>
            <h4 class="modal-title"><img src="~/Scripts/smartAdminScripts/plugin/ckeditor/samples/assets/inlineall/logo.png" width="150" alt="SmartAdmin"></h4>
        </div>
        <div class="modal-body no-padding">

            <form method="POST" id="editText" class="smart-form">
                <header>
                    <strong>@L("MethodName")</strong> : @Model.MethodName
                </header>
                <fieldset>
                    <section>
                        <h4>@L("BrowserInfo")</h4>
                        <strong>@Model.BrowserInfo </strong>
                    </section>
                    <section>
                        <h4>@L("IP")</h4>
                        <strong> @Model.ClientIpAddress </strong>
                    </section>
                    <section>
                        <h4>@L("Parameters")</h4>
                        <pre style="min-height: 100px"><code>@Model.Parameters</code></pre>
                       
                    </section>
                    <section>
                        <h4>@L("ExecutionTime")</h4>
                        <strong>@Model.ExecutionTime.ToLongDateString() @Model.ExecutionTime.ToLongTimeString()</strong>
                    </section>
                    <section>
                        <h4>@L("Duration")</h4>
                        <strong>@Model.ExecutionDuration ms</strong>  
                    </section>
                    <section>
                        <h4>@L("UserInfo")</h4>
                        <strong>@Model.UserName </strong>
                    </section>
                    <section>
                        <h4>@L("ClientName")</h4>
                        <strong>@Model.ClientName </strong>
                    </section>
                    <section>
                        @if (!string.IsNullOrEmpty(Model.Exception))
                        {
                            <div class="alert alert-warning">
                                <h4>@L("ExceptionFound")</h4>
                                <a data-id="@Model.Id"  class="toggle">Details</a>
                                
                            </div>
                            <pre class="@Model.Id" style="display: none"><code>@Model.Exception</code></pre>
                        }
                        else
                        {
                            <div class="alert alert-info">
                                <h4>@L("ExceptionNotFound")</h4>
                                
                            </div>
                        }
                    </section>
                </fieldset>
                <footer>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @L("Close")
                    </button>
                </footer>

            </form>
        </div>
    </div>
</div>
<script>
    (function () {
        $ ("body")
            .on ("click",
                ".toggle",
                function () {
                    var id = $(this).data("id");
                    var selector = "." + id;
                    $ (selector).toggle();
                });
    }) ();
</script>