@{ Layout = null; }
<form name="changeRoles" ng-submit="vm.submit(this)">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-3x fa-briefcase"></i> </h4>
    </div>
    <div class="modal-body">
        <h3>@L("UserName") : {{vm.userName}}</h3>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="control-label">@L("Password")</label>
                    <input type="password" class="form-control" required ng-model="vm.user.newPassword">
                </div>
                <div class="form-group">
                    <label class="control-label">@L("ConfirmPassword")</label>
                    <input type="password" class="form-control" required ng-model="vm.user.confirmPassword">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">@L("Save")</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">@L("Close")</button>
    </div>
</form>